<div class="contenedor-pic">
  <img class="img-pic" src="../../../assets/volFirst.jpg" alt="" />
  <div class="cont-tit">
    <h1 class="tit">CAMBIA LA VIDA</h1>
    <h1 class="tit" style="margin-bottom: 0px">DE UN ANGEL</h1>
  </div>
  <a class="btm-redir" (click)="inpageLink()">Sé voluntario</a>
</div>

<div class="contenedor-secciones">
  <div class="blocks">
    <div class="block block--left--img">
      <img
        src="../../../assets/voluntariosPerros.jpg"
        class="img-diag"
        alt=""
      />
    </div>
    <div class="block block--right--text">
      <div class="con-tex">
        <h2 class="title">¿Qué hace un voluntario?</h2>
        <p class="texto without-mar">
          Los voluntarios son personas que dan su tiempo y esfuerzo, sin ningún
          interés económico, es decir no buscan conseguir dinero por su trabajo.
          Los voluntarios son personas que emplean su tiempo libre, ofrecen su
          compromiso y voluntad con la gratificación de hacer un cambio en la
          vida de los animales que sufren.
        </p>
      </div>
    </div>
  </div>

  <div class="blocks" id="volunteersblock">
    <div class="block block--left--text">
      <div class="con-tex">
        <h2 class="title">Requisitos para voluntarios:</h2>
        <span class="texto">
          <br />
          <ul >
            <li>Ser mayor de edad(18 años).</li>
            <li>Tener mucha empatía con los animales.</li>
            <li>Firmar un documento a las 2 semanas para comprometerse.</li>
          </ul>
          <a
          href="https://wa.link/cxanhv"
          class="btn-des"
        >
          <span style="color: rgb(255, 255, 255);"> Sé voluntario</span>
        </a>
        </span>
      </div>
    </div>
    <div class="block block--right--img">
      <img src="../../../assets/voluntarios2.jpg" class="img-diag" alt="" />
    </div>
  </div>

  <div class="blocks">
    <div class="block block--left--img">
      <img src="../../../assets/voluntarios1.jpg" class="img-diag" alt="" />
    </div>
    <div class="block block--right--text">
      <div class="con-tex">
        <h2 class="title">¿Cómo mas puedo ayudar?</h2>
        <p class="texto without-mar">
          Hay animalitos que no pueden ser adoptados, usted puede ayudarlos
          desde su casa, conviertase en padrino, puede donar:
        </p>
        <ul class="without-mar lista" style="text-align: left">
          <li class="texto">Alimento</li>
          <li class="texto">Ropa</li>
          <li class="texto">Cariño</li>
          <li class="texto">Apoyo Veterinario</li>
          <li class="texto">O lo que gustes</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="volunteersblock" class="blocks" name="descargas">
    <div class="block block--left--text">
      <div class="con-tex">
        <a><h2 class="title">Apadrínate:</h2></a>
        <p class="texto">
          Averigua lo necesario para ser un padrino de un animalito
        </p>
        <br />
        <a
          href="https://drive.google.com/file/d/1T1Nibu-jPis3fLGiGg57rJ6EMq0601cL/view?usp=sharing"
          class="btn-des"
        >
          <span style="color: rgb(255, 255, 255)">Mas informacion </span>
        </a>
      </div>
    </div>
    <div class="block block--right--img">
      <img src="../../../assets/desvol4.jpg" class="img-diag" alt="" />
    </div>
  </div>
</div>
