.subtitulo-vol {
  margin-top: 15px;
  color: brown;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.all {
  margin-bottom: 3%;
  min-height: 500px;
}
.list-cards {
  background-color: #ece8e8;
  border-radius: 5px;
  box-shadow: 5px 5px #999999;
}
.atributes {
  margin-bottom: 0px;
}
.row {
  margin-right: 0px !important;
}
.cardLink {
  text-decoration: none;
}
.card-img-top {
  max-height: 157px;
}

.add {
  text-align: center;
  height: 276px;
}
.btnA {
  text-decoration: none;
  color: white;
  font-size: 80px;
  margin-top: 30%;
}
.btnA:hover {
  color: #515151;
}
.tarjetas {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #828282;
  color: white;
  transition: 0.3s;
  max-width: 286px;
  overflow: hidden;
}
.list-cards {
  background-color: #ece8e8;
  border-radius: 5px;
  box-shadow: 0.7rem 0.7rem 4px rgba(147, 42, 42, 0.25);
}
.btnAdd {
  background-color: transparent;
  border: none;
  margin-top: 30px;
}
.filtros {
  background-color: #dadada;
  height: 160px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  max-width: 250px;
  padding: 3%;
}
.drops {
  border-radius: 5px;
  background-color: #ffffffe7;
}
option {
  color: #828282;
}
.dropFiltros {
  background-color: #82828200;
  border-style: none;
  border-radius: 0;
  color: #828282;
  height: 40px;
  margin: 0;
  width: 100%;
  padding: 0 15px;
}
.dropFiltros:hover {
  background-color: #82828223;
}

.form-group {
  margin-top: 10px;
}
.form-control {
  border-radius: 5px;
}

.card {
  height: 400px;
}

@media (max-width: 991px) {
  .tarjetas {
    margin-left: 50px;
  }
  .filtros {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 67px;
    max-width: 400px;
    height: 200px;
  }
  .btnA {
    margin-top: 15%;
  }
  .add {
    margin-left: 50px;
  }
  .title {
    text-align: center;
  }
  .title-filt {
    text-align: center;
    margin-left: 60px;
  }
}
@media (max-width: 599px) {
  .filtros {
    max-width: 250px !important;
  }

  .title-filt {
    text-align: start;
    margin-left: 0px;
  }
}
.modal-title {
  color: brown;
}
.elm-tt {
  font-weight: bold;
}

.edit {
  position: absolute;
  bottom: 2%;
  left: 26%;
}
.delete {
  position: absolute;
  bottom: 2%;
  left: 50%;
}

label {
  color: #84141b;
}
input {
  margin-bottom: 3px;
}
.form {
  text-align: left;
  margin-left: 20%;
}
.form label {
  display: block;
}
.form input {
  width: 70%;
}
.drop-image {
  width: 70%;
}
