<footer id="footer" class="container-footer">
  <div style="margin: 0">
    <div class="row rwfoo">
      <div class="col-12 col-lg-5 info-footer">
        <span style="font-size: 25px" class="iconos">Siguenos</span>
        <a
          href="https://www.facebook.com/Defensores-de-Animales-San-Roque-157559624372894"
          class="material-icons iconos"
        >
          facebook
        </a>
        <a href="https://wa.link/r2xmfm" class="material-icons iconos">
          local_post_office
        </a>
      </div>
      <div class="col-12 col-lg-6 info-footer reserv">
        <span class="material-icons lg-info"> info </span>
        © 2021 Defensores de animales San Roque / Bolivia / Derechos reservados.
      </div>
    </div>
  </div>
</footer>
