.container-footer {
  background: #932a2a;
  margin-top: 20px;
  margin-left: 10vw;
  min-height: 70px;
  border-radius: 5px 0px 0px 0px;
  height: 15%;
}

.row {
  margin-right: 0px !important;
}
.reserv {
  background-color: #ea2e2e;
  padding-top: 5px;
  border-radius: 15px;
  position: relative;
}
.lg-info {
  position: absolute;
  top: -10px;
  left: -10px;
  color: black;
  background-color: white;
  border-radius: 20px;
  font-size: 30px;
}

.info-footer {
  justify-content: center;
  text-align: center;
  color: white;
  margin: 20px;
  border-right: 2px solid #ea2e2e;
}
.iconos {
  text-decoration: none;
  margin-right: 10%;
  color: white;
}
.iconos:hover {
  color: rgb(255, 188, 188);
}
.material-icons {
  font-size: 40px;
}
@media (max-width: 768px) {
  .info-footer {
    max-width: 90%;
    padding-bottom: 10px;
    margin-bottom: auto;
    border-right: none;
    border-bottom: 2px solid #ea2e2e;
  }
}
@media (max-width: 568px) {
  .container-footer {
    min-height: 26%;
  }
}
