<div
  class="container principal"
  style="background-color: rgb(192, 192, 192); border-radius: 1%"
>
  <div>
    <h1 class="titulo">¿Quiénes somos?</h1>

    <p style="text-align: justify">
      Somos una agrupacion de voluntarios, que nuestro principal objetivo es
      ayudar a los animales, que son maltratados y abandonados. También tenemos
      campañas de cirugias de esterilizaciones, damos en adopción a nuestros
      rescatadas esterilizadas y con con sus vacunas respectivas. cabe recalcar
      que todos los gastos salen de nuestro bolsillo. Defensores de animales San
      Roque, es una institución sin fines de lucro que busca recursos para el
      sustento de la misma, para seguir salvando mascotas abandonadas y defender
      a las mismas.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="row">
        <mat-card
          class="col-lg-4 col-md-12 mb-4"
          style="background-color: #932a2a"
        >
          <mat-card-header>
            <mat-card-title style="color: white">Misión</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/alimentandoPerros.jpg"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <p style="color: white; text-align: justify">
              Para los Defensores de animales "San Roque" nuestra mision es
              promover el bienestar y cuidado responsable de los animales,
              protegiendolos contra el maltrato y el abandono e impulsando la
              conciencia humanitaria en nuestra comunidad.
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card
          class="col-lg-4 col-md-12 mb-4"
          style="background-color: rgb(129, 129, 129)"
        >
          <mat-card-header>
            <mat-card-title style="color: rgb(0, 0, 0)"
              >“Raquelita”</mat-card-title
            >
          </mat-card-header>
          <img
            class="raquel"
            mat-card-image
            src="../../../../assets/raquelita.jpg"
            alt="casas de perritos"
          />
          <mat-card-content>
            <p
              style="color: rgb(0, 0, 0); text-align: justify; font-weight: 500"
            >
              Raquel se encontraba en la localidad de "San Benito", fue
              rescatada después de haber tenido su camada en la calle, las
              personas del lugar robaron a sus crias, pero afortunadamente se
              logro recuperarlas a todas, fue la primera perrita del refugio y
              acompaño al Padre Antonio durante la fundacion del refugio. Finalmente
              volvio con el Padre Antonio a Cochabamba donde lastimosamente pereció
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card
          class="col-lg-4 col-md-12 mb-4"
          style="background-color: #932a2a"
        >
          <mat-card-header>
            <mat-card-title style="color: white">Visión</mat-card-title>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../../assets/voluntariosPerros.jpg"
            alt="perros sanos"
          />
          <mat-card-content>
            <p style="color: white; text-align: justify">
              Para lograr nuestra misión nos enfocamos en cuatro áreas
              principales: adopción responsable, rescate de animales en
              situación de peligro, educación a la comunidad, promoción y
              auspicio de la esterilización de mascotas.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div>
    <h1 class="titulo">Historia</h1>

    <p style="text-align: justify">
      Viendo el sufrimiento, el maltrato y el abandono de los animalitos se
      decidio fundar la institución de Defensores de San Roque el 16 de agosto
      de 2009 entre varias personas: Padre Antonio Aguilera, Sra. Blanca Lopez,
      Lic. Silvana Rocha, Sr. Julio Torrez y Sra. Estela Duran. Todo empezó
      cuando el padre se fue a Chapare donde llevó a “Raquelita” la cual fue la
      primera perrita rescatada, ahi fue donde se inicio el refugio, rescatando
      a los perritos por las inundaciones que asolaban frecuentemente el lugar.
      Lamentablemente solo algunas personas recogían a sus perritos, sin embargo
      la institución continuó rescatando a los perritos de la calle, de esa
      manera fue naciendo el refugio. Posteriormente el padre retornó
      Cochabamba con 15 perritos entre los cuales se encontraba "Raquelita", se
      logro dar en adopción a todos menos a ella, a partir de ahi se siguio con
      la mision de rescatar a los perritos.
    </p>
  </div>
  <div class="franja col-lg-12">
    <p class="enc">--------------- Encuéntranos ---------------</p>
  </div>

  <div class="container" id="ubicacion">
    <div class="row">
      <div class="col-12 col-sm-6">
        <ul class="direcciones" style="list-style-type: none">
          <li class="texto"><h3>Cochabamba</h3></li>
          <li class="dir">- C/ Manuel Tame entre B.Nuñez y A de Albarado</li>
          <br />
          <li class="texto"><h3>Quillacollo</h3></li>
          <li class="dir">- Final Gral. Camacho sobre las rieles</li>
          <br />
          <li class="texto"><h3>Comunicate</h3></li>
          <li class="dir">- Sra. Estela: 71771878</li>
          <li class="dir">- P. Antonio: 72770708</li>
        </ul>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3806.632244970156!2d-66.12962718512307!3d-17.42942768805345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTfCsDI1JzQ1LjkiUyA2NsKwMDcnMzguOCJX!5e0!3m2!1ses!2sbo!4v1621735808968!5m2!1ses!2sbo"
        width="600"
        height="450"
        class="col-12 col-sm-6"
        style="border: 0; margin-bottom: 5vw"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
  </div>
</div>
